@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@700&family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans';
  background-color: rgb(240,240,240)
}

h1, h2 {
  font-family: 'Charis SIL'
}

h1 {
  color: #1e1e1e;
  font-size: 32px;
}

h2 {
  color: rgb(30,30,30);
}

a {
  font-weight: bold;
  text-decoration:none;
  color:orange;
  font-size: 16px;
}

a:hover {
  color: rgb(130,130,130);
}

p {
  font-size: 16px;
  line-height: 2;
}

.card-white {
  background: white;
  padding: 24px;
  margin: 24px auto;
  box-shadow: 2px 6px 18px #c2a468;
  width: 640px;
  text-align: center;
  border-radius: 4px;
}

.profile-pic {
  border-radius: 5px;
  width: 120px;
}

.btn-grey{
  background-color: rgb(130,130,130);
  color: orange;
  padding: 8px 24px;
  border-radius: 6px;
}

.btn-grey:hover {
  color: rgb(250,250,250);
  background-color: rgb(6,6,6);
  box-shadow: 6px 6px 6px rgb(130,130,130);
}

.list-inline{
  list-style: none;
  padding: 0;
}

.list-inline li{
  display: inline-block;
}

.social-icon{
  font-size: 32px;
  margin: 8px 24px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card-white {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card-white {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card-white {
    width: 300px;
  }
}
